<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyd.xs.mapper.UserMapper">
    <!-- 根据用户名查询用户 -->
    <select id="selectByUsername" resultType="com.cyd.xs.entity.User.User">
        SELECT * FROM users WHERE username = #{username} AND deleted_at IS NULL
    </select>

    <!-- 校验用户名是否已存在 -->
    <select id="countByUsername" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM users WHERE username = #{username} AND deleted_at IS NULL
    </select>



</mapper>